<!DOCTYPE html>
<html lang = eng >
<head>
    <meta charset = "utf-8" >
    <meta name="viewport"  content="width=device-width, initial-scale=1.0" >
    <title >   Countrynator | Home </title >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Wallpoet&display=swap"
    rel="stylesheet">

    
    <link rel = "stylesheet" href = "/static/styles/style.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

<section class = 'hero'>
    <nav class="sidebar" id="sidebar">
        <button class="hamburger" id="hamburger">&#9776;</button>
        <ul class="menu" id="menu">
            <li class="pageName"><img src="/static/images/name.png" alt="app_name">
            </li>
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('play')}}">Play</a></li>
            <li><a href="{{url_for('learn')}}">Learn</a></li>
            <li><a href="{{url_for('user')}}">User</a></li>
        </ul>
    </nav>

            <!-- Add search input and suggestions container -->
      <div class="search-container">
        <input type="text" class="search-input" placeholder="Search..." />
        <i class="fa-solid fa-search search-icon"></i>
        <div class="suggestions">
          <ul class="suggestion-list">
            <!-- Add suggested examples here -->
            <li><a href="#">Suggested Example 1</a></li>
            <li><a href="#">Suggested Example 2</a></li>
            <li><a href="#">Suggested Example 3</a></li>
          </ul>
        </div>
      </div>

</section>  
</body>
</html>
